<!DOCTYPE html>
<html>
  <head>
    <title>KamilaLingeries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    
  </body>
  </html>
    <%= render partial: 'layouts/backoffice_shared/navigation' %>
    <div class="row">
      <div class="col-md-2">
        <%= render partial: 'layouts/backoffice_shared/sidebar' %>
      </div>
      <div class="col-md-8">
        <%= yield %>
      </div>
  </div>
  </body>
  
  
</html>

