<!DOCTYPE html>
<html>
  <head>
    <title>KamilaLingeries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'backoffice', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    </html>
      <%= render partial: 'layouts/backoffice_shared/navigation' %>
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'layouts/backoffice_shared/sidebar' %>
        </div>
        <div class="col-md-8">
          <%= yield %>
        </div>
    </div>
  </body>
</html>

